.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: 4px;
  overflow: hidden;
  &[data-disabled='true'] {
    background-color: 'var(--mantine-color-gray-1)';
  }
}

.flexItem {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.wrapper {
  --input-bd: transparent;
  [data-mantine-color-scheme='light'] &[data-variant='default'] {
    --input-bd: transparent;
  }
}
